.modalDefaultContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;

  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalDefaultCloseButton {
  background-image: url('../../images/icon_cross.svg');
  background-color: #bd2719;

  transition-property: background-color;
  transition-duration: 0.2s;
}

.modalDefaultCloseButton:active {
  background-color: #c8c8c8;
}
