.greeting {
  opacity: 0;
  filter: blur(20px);

  animation: appearFromBlur 0.55s ease-out forwards;
}

@keyframes appearFromBlur {
  from {
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.fadeOut {
  opacity: 1;
  filter: blur(0);

  animation: fadeOut 0.4s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
  }
}
