body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif'; /* This is important — a font to match the original game. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow: hidden; /* To prevent elastic scrolling (overscroll) in Safari (both mobile and desktop). Reference: https://stackoverflow.com/a/16327467/11474669 */
}
